body {
  background: url("../images/background-lines.png")
}

input {
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
  color: #D6D6D6;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
  color: #D6D6D6;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
  color: #D6D6D6;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.list-header {
  margin-top: 1em;
  color: #84adb1;
  text-align: center;
  font-size: 50px;
}

.list-dashboard {
  background-color: #fff;
  max-width: 550px;
  margin: 0 auto;
}

.list-container {
  border: 2px solid #84adb1;
  border-radius: 6px;
}

.list {
  background-color: #4a6063;
  margin: 1em;
  border-top: 1px solid #cfcfcf;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
}

.list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-item, .add-item-bar {
  background-color: #fff;
  height: 50px;
  border-bottom: 1px solid #cfcfcf;
  position: relative;
}

.list-item {
  padding-left: 0.6em;
  cursor: pointer;
}

.checkmark-space {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.checkmark {
  stroke: #99ff8c;
  stroke-dashoffset: 745.74853515625;
  stroke-dasharray: 745.74853515625;
  animation: dash 0.5s ease-out forwards;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.item-count {
  display: inline-block;
  margin: 0 10px 0 40px;
  padding-left: 10px;
  border-left: 1px solid;
  line-height: 50px;
  font-size: 18px;
  color: #b9b9b9;
}

.item-name {
  display: inline-block;
  line-height: 50px;
  font-size: 18px;
}

.add-item {
  height: 100%;
  width: 100%;
  position: absolute;
  padding-left: 60px;
  border: none;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
  overflow: hidden;
  font-size: 18px;
}

.suggestions-box {
  display: none;
}