* {
  /* Reserved for grabbing cursor */
}

body {
  background: url("../images/background-lines.png")
}

input {
  outline: none;
}

.generator-header, .generator-desc {
  text-align: center;
  font-size: 50px;
}

.generator-header {
  margin-bottom: 35px;
  color: #d4a345;
}

.generator-desc {
  margin: 0;
  font-size: 25px;
  color: #f6bc50;
}

.divider {
  margin: 45px 40%;
  border-bottom: 1px solid #CDCDCD;
}

.generator-button {
  width: 40%;
  margin: 0 auto;
  padding: 30px 0;
  border: 2px solid #84adb1;
  border-radius: 5px;
  background-color: #f9fffd;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

.grabbable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
  color: #ffe3ba;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
  color: #ffe3ba;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
  color: #ffe3ba;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.list-header {
  margin-top: 1em;
  color: #84adb1;
  text-align: center;
  font-size: 50px;
}

.list-dashboard {
  background-color: #fff;
  max-width: 550px;
  margin: 0 auto;
}

.list-container {
  border: 2px solid #84adb1;
  border-radius: 6px;
}

.loading-container {
  width: 100%;
  height: 80px;
  position: relative;
}

.loading-spinner {
  height: 46px;
  width: 46px;
  padding: 2px;
  border: 2px solid #fff8f1;
  border-top-color: #ffdfa1;
  border-radius: 100%;
  -webkit-animation: loaderSpin 0.6s infinite linear;
  animation: loaderSpin 0.6s infinite linear;
}
@-webkit-keyframes loaderSpin {
  0%   { -webbkit-transform: rotate(0deg); }
  100% { -webbkit-transform: rotate(360deg); } }
@keyframes loaderSpin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } }

.list {
  position: relative;
  background-color: #4a6063;
  margin: 1em;
  border-top: 1px solid #cfcfcf;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
}

.list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-item, .add-item-bar {
  background-color: #fff;
  height: 50px;
  border-bottom: 1px solid #cfcfcf;
  position: relative;
}

.checkmark-container {
  position: absolute;
  width: 50px;
  height: 50px;
  border-right: 1px solid;
  cursor: pointer;
  z-index: 1;
}

.checkmark-space, .loading-spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.checkmark-space {
  width: 30px;
  height: 30px;
}

.checkmark {
  stroke: #99ff8c;
  stroke-dashoffset: 745.74853515625;
  stroke-dasharray: 745.74853515625;
  animation: dash 0.5s ease-out forwards;
}
@keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.reorder-button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-bottom: 1px solid #cfcfcf;
  right: 0;
  background-color: #fff;
  z-index: 1;
}

.reorder-button span {
  width: 25px;
  height: 25px;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.item-text {
  height: 100%;
  width: 100%;
  position: absolute;
  padding-left: 60px;
  border: none;
  z-index: 0;
  overflow: hidden;
  font-size: 18px;
  color: #f6bc50;
}

.add-item {
  height: 100%;
  width: 100%;
  position: absolute;
  padding-left: 60px;
  border: none;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
  overflow: hidden;
  font-size: 18px;
  color: #f6bc50;
}

.suggestions-box {
  position: absolute;
  width: 100%;
  border-left: 2px solid #84adb1;
  border-right: 2px solid #84adb1;
  border-bottom: 2px solid #84adb1;
  background: #fff;
}

.suggestions-header {
  margin: 10px 30px 0 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #d8d8d8;
  color: #ac8438;
  text-align: left;
  text-transform: uppercase;
}

.suggestion {
  padding: 4px 0 4px 60px;
  font-size: 18px;
  color: #f6bc50;
}
.suggestion:hover {
  background-color: #e0f1f1;
}

.suggestion-highlight {
  background-color: #b0e8ec !important;
}